<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<dict>
		<key>name</key>
		<string>paradehitandrun</string>
		<key>description</key>
		<string></string>
		<key>headline</key>
		<string></string>
		<key>bully</key>
		<integer>3</integer>
		<key>lie</key>
		<integer>4</integer>
		<key>humiliate</key>
		<integer>8</integer>
	</dict>
</dict>
</plist>
