<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<dict>
		<key>name</key>
		<string>Parade Hit And Run</string>
		<key>description</key>
		<string>hits a homeless guy with a float</string>
		<key>headline</key>
		<string>Parade run amuck!</string>
		<key>bully</key>
		<integer>3</integer>
		<key>lie</key>
		<integer>4</integer>
		<key>humiliate</key>
		<integer>8</integer>
	</dict>
	<key>002</key>
	<dict>
		<key>name</key>
		<string>Super Bowl</string>
		<key>description</key>
		<string>the big football game</string>
		<key>headline</key>
		<string>football headline</string>
		<key>bully</key>
		<integer>3</integer>
		<key>lie</key>
		<integer>4</integer>
		<key>humiliate</key>
		<integer>8</integer>
	</dict>
	<key>003</key>
	<dict>
		<key>name</key>
		<string>Elections</string>
		<key>description</key>
		<string>An election is a formal decision-making process by which a population chooses an individual to hold public office. Elections have been the usual mechanism by which modern representative democracy operates since the 17th century. Elections may fill offices in the legislature, sometimes in the executive and judiciary, and for regional and local government. This process is also used in many other private and business organisations, from clubs to voluntary associations and corporations.</string>
		<key>headline</key>
		<string>elections headline</string>
		<key>bully</key>
		<integer>3</integer>
		<key>lie</key>
		<integer>4</integer>
		<key>humiliate</key>
		<integer>8</integer>
	</dict>
</dict>
</plist>
